<h1>Stupid Coaching</h1>

<div class="border">
  <p><strong>Your question :</strong></p>
  <div class="question">
    <%= @question %>
  </div>
</div>
<br><br>
<div class="border answer">
  <p><strong>Coach'answer :</strong></p>
  <%= @answer %>
</div>
<br>
<br>
<div class="link">
<%= link_to "Ask a new question", ask_path %>
</div>




